.main {
    grid-area: 1 / 2 / 6 / 6;
    background-color: var(--do-it-purple-main);
    padding: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main .header {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;

}

.main .instances {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    /* overflow: scroll; */

}

.header .add-instance {
    color: white;
    font-weight: 500;

}